@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Nanum+Gothic&family=Teko:wght@300&display=swap');

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(34, 2, 34);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar p {
    margin-top: 2px;
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.sidebar p.active {
    background-color: rgb(71, 3, 71);
    color: white;
}

.sidebar p:hover:not(.active) {
    background-color: purple;
    color: white;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar p {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar p {
        text-align: center;
        float: none;
    }
}
